<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="School Finder" name="keywords">
  <meta
    content="Explore special needs educational schools based on their distance from your home, locations, CCAs, subjects and programmes offered."
    name="description">

  <title>Spendeeds - Explore your Special Needs in Educational Schools</title>

  <!-- Favicon -->
  <link href="./img/Spendeeds-Light-Icon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>
  <!-- Spinner Start -->
  <spinner-bar id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  </spinner-bar>
  <!-- Spinner End -->

  <a href="#/content" class="btn btn-primary skip-to-content" tabindex="0">Skip to Content?</a>


  <!-- Navbar Start -->
  <head-bar class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0"></head-bar>
  <!-- Navbar End -->


  <!-- Main Content Start -->
  <main id="content"></main>
  <!-- Main Content End -->


  <!-- Footer Start -->
  <foot-bar class="container-fluid d-block bg-dark text-light footer pt-5 mt-5 wow animate__animated animate__fadeIn"
    data-wow-delay="0.1s"></foot-bar>
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
    integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    // Initiate the wowjs
    new WOW().init();
  </script>

  <!-- Template Javascript -->
  <!-- <script src="./js/main.js"></script> -->
</body>

</html>