<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="School Finder">
  <meta name="description"
    content="Explore special needs educational schools based on their distance, locations, popularities and offered acreditations.">
  <meta name="theme-color" content="#F58A0F">

  <!-- Manifest -->
  <link rel="manifest" href="./app.webmanifest">

  <!-- Favicon -->
  <link href="./img/spendeeds/logo/Spendeeds-Light-Icon.ico" rel="icon">
  <link href="./img/spendeeds/logo/Spendeeds-Light-Icon.ico" rel="apple-touch-icon">

  <title>Spendeeds - Temukan sekolah spesial untuk kebutuhan anda</title>

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap">
</head>

<body>
  <!-- Spinner -->
  <spinner-bar id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  </spinner-bar>

  <!-- Skip Link -->
  <a href="#content" class="btn btn-primary skip-to-content" tabindex="0">Skip to Content?</a>

  <!-- Navbar -->
  <head-bar class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0"></head-bar>

  <!-- Main Content -->
  <main id="content"></main>

  <!-- Footer Start -->
  <foot-bar class="container-fluid d-block bg-dark text-light footer pt-5 mt-5 wow animate__animated animate__fadeIn"
    data-wow-delay="0.1s"></foot-bar>

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
    integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Initiate the wowjs -->
  <script>
    new WOW().init()
  </script>
</body>

</html>